@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url("../../fonts/Roboto-Thin.ttf");
}
body {
  cursor: default;
}
.footer {
  padding-left: 100px;
  padding-right: 100px;
  background-color: #fff;
}

.main_images-section {
  padding: 20px 100px 20px 100px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.images-section_content {
  display: flex;
  height: fit-content;
}

.images_first-column {
  display: flex;
  width: 48%;
  max-height: 450px;
  margin-right: 20px;
}

.images_first-column > img {
  width: 100%;
  height: 100%;
}

.images_second-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  max-height: 450px;
}
.images_first-row,
.images_second-row {
  display: flex;
  justify-content: space-between;
}
.images_second-column > .images_first-row > img,
.images_second-column > .images_second-row > img {
  width: 48%;
}

.images_second-column > .images_second-row > img {
  height: 100%;
}

.images-section_action-panel {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.action-panel_section {
  display: flex;
}
.action-panel_like-button {
  display: flex;
  align-items: center;
  border: 1px solid #e5e5e5;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: default;
  margin-right: 10px;
}
.like-button_like-icon {
  width: 24px;
  height: 24px;
  background-position: center;
  margin-right: 10px;
  cursor: pointer;
}

.like-button_like-content {
  margin-right: 10px;
}

.action-panel_like-button:hover {
  border-color: #e82431;
}

.action-panel_share-button {
  display: flex;
  align-items: center;
  border: 1px solid #e5e5e5;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}

.share-button_share-icon {
  width: 24px;
  height: 24px;
  background-position: center;
  margin-right: 10px;
  background-image: url("../../img/catalog/shareEmpty.svg");
}

.action-panel_share-button:hover {
  border-color: #e82431;
}
.social-section {
  position: absolute;
  top: 0px;
  right: -183px;
  width: 100%;
  display: none;
  border: 2px solid #e82431;
  border-radius: 8px;
  padding: 10px 4px 3px 8px;
  justify-content: space-between;
  align-items: center;
}
.action-panel_share-button:hover > .social-section {
  display: flex;
}
.social-icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  margin-top: -2px;
}

.action-panel_showAll-button {
  display: flex;
  align-items: center;
  border: 1px solid #e82431;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  color: #e82431;
}

.showAll_image {
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
  background-image: url("../../img/advert/showAll.svg");
}

.main_bread-section {
  padding-left: 100px;
  padding-right: 100px;
  background-color: #fff;
  color: #808080;
  font-size: 18px;
  cursor: default;
}

.main_advert-content {
  display: flex;
  flex-direction: column;
  padding: 20px 100px 100px 100px;
  background-color: #fff;
}

.advert-content_first-row {
  display: flex;
  width: 100%;
  height: fit-content;
  height: -moz-fit-content;
}

.advert-content_first-column {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-right: 20px;
}
.advert-content_header {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 20px;
}
.advert-content_advert-watch {
  color: #808080;
  font-size: 18px;
  margin-bottom: 20px;
}
.subwayImage {
  width: 21px;
  height: 21px;
  margin-right: 5px;
}
.advert-content_advert-location {
  font-size: 18px;
  color: #808080;
  display: flex;
  margin-bottom: 20px;
}
.advert-location_subway {
  margin-right: 20px;
  display: flex;
  align-items: center;
  cursor: default;
}
.advert-location_address {
  margin-right: 20px;
  display: flex;
  align-items: center;
  cursor: default;
}

.advert-location_showMap-section {
  display: flex;
  align-items: center;
}
.mapMark {
  width: 21px;
  height: 21px;
  margin-right: 5px;
}

.showMap {
  color: #e82431;
}

.mapImage {
  width: 21px;
  height: 21px;
  margin-right: 5px;
}
.advert-content_advert-info {
  font-size: 18px;
  color: #808080;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.advert-info_number {
  margin-right: 20px;
}
.advert-info_review-section {
  display: flex;
  width: 45%;
}

.review-section_text {
  margin-right: 5px;
}

.review-section_star-rating {
  width: 50%;
  height: 21px;
  background-repeat: no-repeat;
  background-image: url("../../img/advert/stars.svg");
}

.rewiewLink {
  color: #e82431;
}

.advert-content_basic-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.basic-section_basic-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0px;
  width: 20%;
}

.number-content {
  font-size: 50px;
  font-weight: 700;
  display: inline-block;
  position: relative;
  line-height: 40px;
  width: 100%;
  text-align: center;
}
.additive-info {
  font-weight: 400;
  font-size: 24px;
  position: absolute;
  bottom: 0;

  line-height: 28px;
}
sup {
  position: absolute;
  font-size: 14px;
  top: -5px;
}

.number-description {
  font-size: 18px;
  margin-top: 15px;
  text-align: center;
}

.saveRentImage {
  background-image: url("../../img/advert/saveRent.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.saveRent {
  width: 40px;
  height: 40px;
}

.advert-content_saveRent-bubble {
  height: 46px;
  padding-top: 30px;
  padding-left: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../../img/advert/bubble.svg");
}

.bubble-text {
  color: #fff;
  font-size: 13px;
}

.advert-content_advert-description {
  display: flex;
  margin-top: 20px;
}

.description-section {
  display: flex;
  flex-direction: column;
  width: 60%;
  max-height: 174px;
  margin-right: 20px;
}

.description-header,
.shortInfo-header {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}

.description-body,
.shortInfo-body {
  font-size: 16px;
}

.shortInfo-body {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  border-radius: 8px;
}
.body_firstColumn,
.body_secondColumn {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-bottom: 0;
}
.body_firstColumn > span,
.body_secondColumn > span {
  margin-bottom: 20px;
}

.advert-content_flat-benefits {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
}
.flat-benefits_column {
  display: flex;
  flex-direction: column;
}

.benefit-header {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
}

.row {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: default;
}

.row > img {
  margin-right: 10px;
}

.activeBenefit {
  color: black;
}

.inactiveBenefit {
  color: #d9d9d9;
}
/* Второй столбец в карточке объявления */
.advert-content_second-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 28%;
}
.advert-content_price-section {
  display: flex;
  align-items: center;
}
.price-number {
  font-weight: 700;
  font-size: 26px;
  margin-right: 10px;
}

.price-permonth-pay {
  font-size: 20px;
  font-weight: 400;
  margin-right: 10px;
}

.deposit-bubble {
  background-color: #2390f5;
  border-radius: 8px;
  padding: 5px 15px;
}

.deposit-number {
  font-size: 16px;
  color: white;
}
.advert-content_renter-card {
  padding: 20px;
  border: 1px solid #d9d9d9;
  margin-top: 20px;
  border-radius: 8px;
}
.renter-card_renter-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.renterPhoto {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}
.renter-card_panel-buttons {
  display: flex;
  flex-wrap: wrap;
}
.renter-button {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #e82431;
  border-radius: 8px;
  border: 1px solid #e82431;
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: 10%;
  width: 48%;
  font-size: 11px;
  margin-bottom: 10px;
}
.call-button {
  background-image: url("../../img/advert/IconBtn.svg");
  background-color: #e82431;
  color: white;
  margin-right: 10px;
}
.write-button {
  background-image: url("../../img/advert/Message.svg");
}
.rent-button {
  background-image: url("../../img/advert/rent.svg");
  margin-right: 10px;
}
.notRenter-button {
  background-image: url("../../img/advert/notRenter.svg");
}

.renter-card_scum-reminder {
  background-color: #efbd5a;
  color: white;
  border-radius: 8px;
  padding: 15px 10px;
  font-size: 14px;
  font-weight: 300;
}

.advert-content_map-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.map-section_header {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}

.map-section_future-mapAPI {
  width: 100%;
  background-image: url("../../img/advert/map.svg");
  height: 320px;
  background-size: cover;
}

.advert-content_estateInfo-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  margin-top: 20px;
}

.estateInfo-header {
  text-align: center;
  margin-bottom: 20px;
}
.estateInfoIcon {
  background-image: url("../../img/advert/egrn.svg");
  background-color: #e82431;
  color: white;
  margin-bottom: 0;
  width: 80%;
  background-size: 7%;
  background-position: 10% 50%;
  font-weight: 300;
}

/* Вторая строка в объявлении */
.advert-content_second-row {
  display: flex;
  width: 100%;
  margin-top: 116px;
}
.advert-content_banner {
  padding: 20px 20px;
  display: flex;
  box-shadow: 0px 5px 20px rgba(35, 144, 245, 0.2);
  margin-right: 20px;
  flex-basis: 0;
  flex-grow: 1;
  align-items: center;
}

.banner-image {
  margin-right: 20px;
  width: 100px;
  height: 100px;
}
.banner-description {
  display: flex;
  flex-direction: column;
}

.banner-description_header {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}

.banner-description_body {
  font-size: 12px;
}

/* Секция отзывы */

.main_review-section {
  padding: 60px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_header-block {
  align-self: flex-start;
}
.review-cards {
  display: flex;
  margin-top: 30px;
  margin-bottom: 45px;
}
.review-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  margin-right: 20px;
  padding: 20px;
  height: fit-content;
  height: -moz-fit-content;
  flex-basis: 0;
  flex-grow: 1;
}

.reviewer-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.reviewer-info > img {
  margin-right: 10px;
}

.reviewer-info > span {
  font-size: 18px;
}
.review-date {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 300;
}
.review-content {
  font-size: 14px;
}

.review-add {
  background-color: #e82431;
  color: white;
  padding: 15px 20px;
  width: 20%;
  border-radius: 8px;
  font-size: 18px;
  background-image: url("../../img/advert/addReview.svg");
  background-repeat: no-repeat;
  background-position: 10% 50%;
  background-size: 8%;
  font-weight: 300;
  border: none;
  outline: none;
}

/* Секция Похожие */

.main_similar-section {
  padding: 100px 100px 50px 100px;
  background-color: #fff;
  position: relative;
}

.similar-section-body {
  display: flex;
  margin-top: 40px;
}

.objInfo-section_flat-description {
  font-weight: 400;
  font-size: 15px;
}

.swiper-button-prev,
.swiper-button-next {
  color: #1c2443;
}
.swiper-button-prev:hover,
.swiper-button-prev:active,
.swiper-button-next:hover,
.swiper-button-bext:active {
  color: #e82431;
}
.swiper-button-prev {
  left: 87%;
  top: 120px;
  transform: scale(0.5);
  outline: none;
}
.swiper-button-next {
  right: 120px;
  top: 120px;
  transform: scale(0.5);
  outline: none;
}

.swiper-slide {
  display: flex;
}
.swiper-slide > .advertisments-section_advert-card {
  border-radius: 8px;
  border: 1px solid #d9d9d9;
}
/* 






















*/

/* JS Styles */

.unfilledHeart {
  background-image: url("../../img/catalog/hearthUsuial.svg");
}
.filledHeart {
  background-image: url("../../img/catalog/heartColored.svg");
}

.redColored {
  color: #e82431;
  border-color: #e82431;
}

.usualColor {
  color: black;
  border-color: #e5e5e5;
}
