/* Дефолт стили для 1440px */

.main {
  display: flex;
  flex-direction: column;
}

.main_applicationForm-section {
  padding: 50px 0 0 0;
}
.main_applicationFormBig-section {
  padding-bottom: 30px;
}
/* Начало стилей для секции фильтры ----------------------------------------------- */
.main_filter-section {
  height: fit-content;
  background-color: #fff;
  padding: 60px 100px;
}
.filter-section_required-section {
  display: flex;
}
.filter_fieldset {
  border: none;
  display: inline-block;
  width: 15%;
  margin-right: 10px;
}
.filter_fieldset > legend {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.search-bar_inputs {
  display: none;
}
.filter_section {
  width: 100%;
  display: flex;
  align-items: center;
}
.filter_section-room {
  width: 100%;
  display: flex;
}
input[name="typeOfOperation"] + label {
  width: 50%;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  cursor: pointer;
}
input[name="roomAmount"] + label {
  width: 20%;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  cursor: pointer;
  margin-right: 1px;
  font-size: 14px;
}
.filter_section input:first-child {
  margin-left: 0;
}
.filter_priceRange {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 10px 0px;
  width: 80%;
  text-align: center;
  font-size: 16px;
  margin-right: 8px;
  margin-left: 8px;
}
input[name="roomAmount"]:checked + label {
  background-color: #1c2443;
  color: #fff;
}
input[name="typeOfOperation"]:checked + label {
  background-color: #1c2443;
  color: #fff;
}

input[name="roomAmount"] + label:hover {
  color: #e82431;
}

input[name="typeOfOperation"] + label:hover {
  color: #e82431;
}
label[for="studioRoom"] {
  padding: 15px 10px;
  border-radius: 8px 0 0 8px;
}
label[for="fourMoreRoom"] {
  border-radius: 0 8px 8px 0;
}

.filter_section label:nth-child(2) {
  border-radius: 8px 0 0 8px;
}
.filter_section label:nth-child(4) {
  border-radius: 0 8px 8px 0;
}

.filter-section_filter-button {
  -webkit-appearance: none;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-image: url("../../img/main/main_filter-arrow.svg");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-color: #f2f2f2;
  border-radius: 8px;
  cursor: pointer;
}
.filter-section_filter-content {
  display: none;
}
input[type="checkbox"]:checked + .filter-section_filter-button {
  background-image: url("../../img/main/filter_arrow-reversed.png");
}
input[type="checkbox"]:checked ~ .filter-section_filter-content {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f2f2f2;
  height: 160px;
  overflow: scroll;
  border-radius: 8px;
}
.filter-section_filter-content label {
  padding: 10px 20px;
  cursor: pointer;
}

.filter-section_filter-content label:hover {
  color: red;
}
/* ----------------------------------------------- Конец стилей для секции фильтры */
/* Внизу немного стилей для навигации, слишком мало, чтобы давать им красивые комментарии */
.main_navigation {
  margin-top: 60px;
  margin-bottom: 30px;
}
.main_navigation > a {
  text-decoration: none;
  color: #000;
}
.main_navigation > a:hover {
  color: #e82431;
}
.main_navigation > span:hover {
  cursor: default;
}
/* Начало стилей для карточек быстрых переходов ----------------------------------------------- */
.flats-section_specialCards-section {
  width: 100%;
  display: flex;
  margin-top: 30px;
}
.specialCards-section_card {
  cursor: pointer;
  width: 24%;
  margin-right: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 160px;
  max-height: 200px;
  border-radius: 8px;
  color: white;
  font-size: 17px;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 20px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}
.specialCards-section_card:hover {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3),
    inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
}
.flats-section_specialCards-section .specialCards-section_card:nth-child(1) {
  background-image: url("../../img/catalog/cheapHousing.jpg");
}
.flats-section_specialCards-section .specialCards-section_card:nth-child(2) {
  background-image: url("../../img/catalog/partyHouse.jpg");
}
.flats-section_specialCards-section .specialCards-section_card:nth-child(3) {
  background-image: url("../../img/catalog/expensiveRepair.jpg");
}
.flats-section_specialCards-section .specialCards-section_card:nth-child(4) {
  margin-right: 0;
  background-image: url("../../img/catalog/levelingFlat.jpg");
}
/* ----------------------------------------------- Конец стилей для карточек быстрых переходов */

/* Начало стилей секции с объявлениями ----------------------------------------------- */
.main_flats-section {
  padding: 0px 100px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.flats-section_advertisments-section {
  display: flex;
  flex-direction: column;
}
.advertisment-section_part {
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.advertisment-section_part div:nth-child(3n + 3) {
  margin-right: 0;
}
/* ----------------------------------------------- Конец стилей секции с объявлениями */
/* Начало стилей для одной карточки ----------------------------------------------- */
.advertisments-section_advert-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  max-height: 464px;
  width: 28%;
  background-color: #fff;
  border-radius: 8px;
  margin-right: auto;
  margin-bottom: 30px;
}
.advertisments-section_advert-card:hover {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}
.advert-card_panel-info-section {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.advert-card_info-section {
  display: flex;
  align-items: center;
  width: 75%;
}
.info-section_name {
  font-size: 14px;
}
.info-section_avatar {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-right: 10px;
  background-image: url("../../img/main/avatar-example.png");
  background-size: cover;
}
.advert-card_panel-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.panel-section_section {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  color: black;
  cursor: pointer;
  margin-right: 10px;
}
.advert-card_objPhotos-section {
  display: flex;
  width: 100%;
  max-height: 237px;
  overflow-x: scroll;
  overflow-y: hidden;
}
.advert-card_objPhotos-section > img {
  border-right: 3px solid white;
}

.advert-card_objPhotos-section img:last-child {
  border-right: none;
}
.advert-card_objInfo-section {
  height: auto;
  padding: 25px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.advert-card_objInfo-section > div {
  margin-bottom: 10px;
}
.objInfo-sectiono_price-tag {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.price-tag_price {
  font-weight: bold;
  font-size: 18px;
}

.price-tag_per-month {
  color: #808080;
  font-size: 16px;
}

.objInfo-section_flat-parameters {
  font-weight: 300;
  font-size: 16px;
}

.objInfo-section_flat-description {
  font-weight: 300;
  font-size: 18px;
}
.advert-card_objAddress-section {
  height: fit-content;
  width: 100%;
  padding: 0px 10px 20px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.objAddress-section_map-checkmark {
  width: 10px;
  height: 14px;
  margin-right: 5px;
}

.objAddress-section_address-span {
  font-size: 12px;
  font-weight: 300;
}
/* ----------------------------------------------- Конец стилей для одной карточки */
/* Начало стилей для карточек быстрого перехода ----------------------------------------------- */
.flats-section_fastLinks-section {
  background-color: #f2f2f2;
  width: 100%;
  height: 326px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.fastLinks-section_fast-card,
.fastLinks-section_fast-card:visited {
  height: 326px;
  width: 24%;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
}

.fastLinks-section_fast-card:hover,
.fastLinks-section_fast-card :active {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

.fast-card_image-cover {
  width: 100%;
  height: 40%;
  border-radius: 8px 8px 0px 0px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.fast-card_image-cover > span {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin: 0px 20px 10px 20px;
}

.fast-card_navigation-container {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
}

.navigation-container_link,
.navigation-container_link:visited {
  margin-bottom: 15px;
  color: #000;
  text-decoration: none;
  font-size: 12px;
}

.navigation-container_link:hover,
.navigation-container_link:active {
  color: #e82431;
}
.rentFlat {
  background-image: url("../../img/main/main_rentFlat-fast.png");
}

.rentDay {
  background-image: url("../../img/main/main_rentDay-fast.png");
}

.rentCountry {
  background-image: url("../../img/main/main_rentCountry-fast.png");
}

.rentCommercial {
  background-image: url("../../img/main/main_rentCommercial-fast.png");
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 26px 100px 17px 100px;
}
/* ----------------------------------------------- Конец стилей для карточек быстрого перехода */
.advertisments-section_more-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  align-self: center;
  margin-top: 30px;
  padding: 15px 20px;
  font-size: 20px;
  border-radius: 8px;
  background-color: #e82431;
  color: white;
  width: 25%;
}

.advertisments-section_more-button:hover {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

/* JS стили */

.hide {
  display: none;
}
.unfilledHeart {
  background-image: url("../../img/catalog/hearthUsuial.svg");
}
.unfilledHeart:hover {
  background-image: url("../../img/catalog/heartColored.svg");
}
.filledHeart {
  background-image: url("../../img/catalog/heartColored.svg");
}
.counterColored {
  color: #e82431;
}
/* 
.unfilledShare {
  background-image: url("../../img/catalog/shareEmpty.svg");
}

.unfilledShare:hover {
  background-image: url("../../img/catalog/shareFilled.svg");
}

.filledShare {
  background-image: url("../../img/catalog/shareFilled.svg");
} */
