body {
  background-color: #f2f2f2;
}
/* Начало верстки секции быстрого поиска -----------------------------------------------  */
.search-section_header {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
  text-align: left;
  align-self: center;
  width: 90%;
}

.search-section_subheader {
  font-size: 20px;
  color: #fff;
  margin-bottom: 50px;
  text-align: left;
  align-self: center;
  width: 90%;
}

.main_search-section {
  background-image: url("../../img/main/main_image-filter.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 500px;
  padding: 100px 50px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}
.search-section_search-bar {
  height: fit-content;
  width: 90%;
  align-self: center;
  margin-bottom: 50px;
}
.filter-section_form {
  position: relative;
  display: flex;
}
.filter-section_form label {
  margin-right: 2px;
}

.filter-section_filter-button {
  padding: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 20%;
  background-image: url("../../img/main/main_filter-arrow.svg");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
.filter-section_filter-content {
  display: none;
}
input[type="checkbox"]:checked + .filter-section_filter-content {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: rgba(255, 255, 255, 0.9);
  height: 200px;
  overflow: scroll;
}

.search-bar_room-checkbox + label::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 5px;
  width: 20px;
  height: 20px;
  border: 1px solid #adb5bd;
  border-radius: 5px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.search-bar_room-checkbox:checked + label::before {
  border-color: #1c2443;
  background-color: #1c2443;
  background-image: url("../../img/main/checkmark.svg");
}

#realEstateDropdown {
  position: absolute;
  top: 105%;
}
#roomAmountDropdown {
  position: absolute;
  top: 105%;
  left: 20.4%;
}

#chosenCityDropdown {
  position: absolute;
  top: 105%;
  left: 40.7%;
}

#priceRangeDropdown {
  position: absolute;
  top: 105%;
  left: 61.1%;
}
.filter-section_filter-content label {
  padding: 15px 20px;
}

.filter-section_filter-content label:hover {
  background-color: rgba(204, 204, 204, 0.5);
  color: red;
}
.search-bar_inputs {
  display: none;
}

.search-section_perks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.perks_description {
  display: flex;
  width: 25%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.perk-logo {
  width: 120px;
  height: 90px;
  margin-bottom: 30px;
}

.perk-description {
  font-size: 16px;
  color: white;
}

.filter-section_search-button {
  width: 20%;
  padding: 0px;
  margin: 0px;
  background-color: #e82431;
  outline: none;
  border: none;
  border-radius: 0px 8px 8px 0px;
  font-size: 14px;
  color: white;
  font-weight: bold;
}

input[type="checkbox"]:checked + #priceRangeDropdown {
  display: flex;
  flex-direction: column;
  width: 20.23%;
  background-color: rgba(255, 255, 255, 0.9);
  height: 120px;
  justify-content: space-around;
}

#slider-range {
  margin-left: auto;
  margin-right: auto;
  padding: 1px;
  width: 80% !important;
  background-color: #d9d9d9 !important;
  height: 2px !important;
  border: none !important;
}

.ui-slider-range {
  background-color: #1c2443 !important;
}

#amount {
  background-color: transparent !important;
  border: none !important;
  font-size: 14px !important;
}
.ui-state-default {
  border: none !important;
}
.ui-slider-handle {
  border: none;
  border-radius: 22px;
  width: 15px !important;
  height: 15px !important;
  outline: none;
  background-color: #1c2443 !important;
}
.filter-content_values-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text-inputs {
  height: 30px;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 8px;
  text-align: center;
  width: 40%;
}

.reversed-arrow {
  background-image: url("../../img/main/main_image-filter-reversed.svg");
}

/* ----------------------------------------------- Конец верстки секции быстрого поиска */

/* Начало верстки секции историй -----------------------------------------------  */
.main_stories-section {
  padding: 50px 100px 105px 100px;
  background-color: #fff;
}
.main_header-block {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.red-line {
  width: 50px;
  height: 5px;
  background-color: #e82431;
  margin-right: 10px;
  margin-top: 15px;
}

.main_section-header {
  font-size: 30px;
  color: #000;
  font-weight: bold;
  margin-bottom: 5px;
}
.main_section-block {
  display: flex;
  flex-direction: column;
}
.stories-section_stories-block {
  width: 100%;
  margin-top: 35px;
  height: 330px;
  position: relative;
  display: flex;
  align-items: center;
  overflow: scroll;
}

.stories-block_story-block {
  width: 20%;
  height: 90%;
  padding: 5px;
  border: 3px solid #ccc;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  min-width: 15%;
  min-height: 90%;
}
.stories-block_add-story {
  width: 100%;
  height: 85%;
  border: 2px dashed #1c2443;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 40px;
  border-radius: 8px;
}
.add-story_plus-button {
  position: absolute;
  top: 45%;
  width: 34px;
  height: 34px;
  outline: none;
  border: none;
  background-color: transparent;
  background-image: url("../../img/main/main_add-story.svg");
}
.stories-block_added-story {
  width: 100%;
  height: 100%;
  background-image: url("../../img/main/main_story-image.jpg");
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.add-story_added-text {
  font-family: "Comic Sans MS";
  color: #ff0000;
  text-align: center;
}

.add-story_add-text {
  text-align: center;
  font-size: 12px;
}

/* ----------------------------------------------- Конец верстки секции историй */

/* Начало верстки секции взаимодействия с квартирами-----------------------------------------------  */
.main_flats-section {
  padding: 50px 100px 50px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flats-section_navigation {
  margin-top: 30px;
}
.navigation_text {
  font-weight: bold;
  font-size: 24px;
}

.navigation {
  padding: 5px 10px;
  background-color: #fff;
  color: #808080;
  border-radius: 8px;
  cursor: pointer;
}
input[type="radio"]:checked + .navigation {
  background-color: #1c2443;
  color: white;
}
input[type="radio"]:checked + .navigation:hover {
  background-color: #1c2443;
  color: #e82431;
}
.navigation:hover {
  color: #e82431;
}

.flats-section_advertisments-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 33px;
}
.flats-section_advertisments-section > div {
  margin-bottom: 15px;
}
.advertisments-section_avdert-card {
  background-color: #fff;
  width: 24%;
  height: 300px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  padding-bottom: 20px;
}
.advertisments-section_avdert-card:hover,
.advertisments-section_avdert-card:active {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

.avdert-card_card-image {
  width: 100%;
  height: 60%;
  background-image: url("../../img/main/main_rentAdvertisment-card.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 8px 8px 0px 0px;
}

.avdert-card_card-info {
  height: 20%;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-info_price-tag {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.price-tag_price {
  font-weight: bold;
  font-size: 14px;
}

.price-tag_per-month {
  color: #808080;
  font-size: 14px;
}

.card-info_flat-parameters {
  font-weight: 300;
  font-size: 11px;
}

.card-info_flat-description {
  font-size: 14px;
}
.avdert-card_card-address {
  height: fit-content;
  width: 100%;
  padding: 0px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.card-address_map-checkmark {
  width: 10px;
  height: 14px;
  margin-right: 5px;
}

.card-address-address-span {
  font-size: 12px;
  font-weight: 300;
}

.flats-section_allAdvertisments-link {
  margin-top: 30px;
  background-color: #e82431;
  padding: 15px 20px;
  width: fit-content;
  font-size: 20px;
  border-radius: 8px;
  align-self: center;
}

.flats-section_allAdvertisments-link > a,
.flats-section_allAdvertisments-link > a:visited,
.flats-section_allAdvertisments-link > a:hover,
.flats-section_allAdvertisments-link > a:active {
  text-decoration: none;
  color: white;
}
.flats-section_fastLinks-section {
  width: 100%;
  height: 326px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.fastLinks-section_fast-card,
.fastLinks-section_fast-card:visited {
  height: 326px;
  width: 24%;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
}

.fastLinks-section_fast-card:hover,
.fastLinks-section_fast-card :active {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

.fast-card_image-cover {
  width: 100%;
  height: 40%;
  border-radius: 8px 8px 0px 0px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.fast-card_image-cover > span {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin: 0px 20px 10px 20px;
}

.fast-card_navigation-container {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
}

.navigation-container_link,
.navigation-container_link:visited {
  margin-bottom: 15px;
  color: #000;
  text-decoration: none;
  font-size: 12px;
}

.navigation-container_link:hover,
.navigation-container_link:active {
  color: #e82431;
}
.rentFlat {
  background-image: url("../../img/main/main_rentFlat-fast.png");
}

.rentDay {
  background-image: url("../../img/main/main_rentDay-fast.png");
}

.rentCountry {
  background-image: url("../../img/main/main_rentCountry-fast.png");
}

.rentCommercial {
  background-image: url("../../img/main/main_rentCommercial-fast.png");
}

.sellFlat {
  background-image: url("../../img/main/main_sellFlat-fast.png");
}

.sellGarage {
  background-image: url("../../img/main/main_sellGarage-fast.png");
}
/* ----------------------------------------------- Конец верстки секции взаимодействия с квартирами */

/* Начало верстки секции секции о том, как все работает----------------------------------------------  */
.main_workDescribe-section {
  background-color: #fff;
  padding: 50px 100px 50px 100px;
  display: flex;
  flex-direction: column;
  height: 500px;
}
.workDescribe-section_stages-section {
  margin-top: 30px;
  display: flex;
  height: 100%;
}
.stages-section_stage-card {
  width: 25%;
  height: 100%;
  margin-right: 20px;
  position: relative;
}
.stages-section_stage-card::after {
  content: "";
  position: absolute;
  right: 0;
  top: 25%;
  display: block;
  border-right: 3px solid #e82431;
  border-bottom: 3px solid #e82431;
  width: 25px;
  height: 25px;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.lastChild::after {
  content: "";
  position: absolute;
  right: 0;
  top: 25%;
  display: block;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  width: 25px;
  height: 25px;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.stage-card_image-container {
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-countainer_image {
  margin-left: 25%;
}

.stage-card_text-container {
  width: 100%;
  height: 50%;
}

.text-container_header {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.text-cotainer_text {
  font-size: 14px;
}
.firstStage {
  background-image: url("../../img/main/stageFirst.svg");
}
.secondStage {
  background-image: url("../../img/main/stageSecond.svg");
}
.thirdStage {
  background-image: url("../../img/main/stageThird.svg");
}
.fourthStage {
  background-image: url("../../img/main/stageFourth.svg");
}

/* ----------------------------------------------- Конец верстки секции о том, как это работает */
/* Начало верстки секции о преимуществах подбора ----------------------------------------------- */
.main_benefits-section {
  padding: 50px 100px 50px 100px;
  background-color: #fff;
  height: 300px;
  display: flex;
  flex-direction: column;
}
.benefits-section_describe-cards {
  margin-top: 40px;
  display: flex;
  width: 100%;
  height: 70%;
  align-items: center;
  justify-content: space-between;
}
.describe-cards_benefit-card {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 16px;
}

.benefit-card_text-section {
  display: flex;
  flex-direction: column;
  height: 60%;
}

.benefit-card_header {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.benefit-card_text {
  font-size: 12px;
}
.benefit-card_image {
  width: 100%;
  height: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}
.firstBenefit {
  background-image: url("../../img/main/timeEconomy.svg");
}
.secondBenefit {
  background-image: url("../../img/main/moneyEconomy.svg");
}
.thirdBenefit {
  background-image: url("../../img/main/completeSearch.svg");
}
.fourthBenefit {
  background-image: url("../../img/main/juristHelp.svg");
}
/* ----------------------------------------------- Конец верстки секции о преимуществах подбора */

/* Начало верстки секции отзывы ----------------------------------------------- */
.review_header-block {
  margin-left: 100px;
}
.main_review-section {
  padding-top: 50px;
  background-color: #fff;
  height: 800px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.iphone-story {
  height: 100%;
  position: relative;
  top: 0;
  left: 20%;
}
.story-image {
  position: absolute;
  height: 98%;
  left: 1%;
  top: 2.5%;
}
.iphoneReview {
  z-index: 100;
  height: 100%;
  position: absolute;
}
.swiper-container {
  margin-top: 120px;
  width: 100%;
  height: 70%;
  background-image: url("../../img/main/main_reviewBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.6);
}

.review {
  transform: scale(0.8);
  position: absolute;
  top: 20%;
  left: 40%;
  width: 50%;
  height: 50%;
  background-color: rgba(255, 255, 255, 1) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 50px 20px 50px;
}
.review-section {
  position: relative;
}
.person-section {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50px;
  top: -55px;
}
.person-image {
  width: 105px;
  height: 105px;
  border-radius: 50%;
  border: 5px solid #e82431;
  background-image: url("../../img/main/avatar-example.png");
  background-size: cover;
  margin-right: 15px;
}

.review-date {
  margin-top: 15px;
  font-weight: 300;
  font-size: 12px;
}

.swiper-button-prev,
.swiper-button-next {
  color: #1c2443;
}
.swiper-button-prev:hover,
.swiper-button-prev:active,
.swiper-button-next:hover,
.swiper-button-bext:active {
  color: #e82431;
}

.swiper-button-prev {
  left: 92%;
  top: 95%;
  transform: scale(0.5);
}
.swiper-button-next {
  left: 95%;
  top: 95%;
  transform: scale(0.5);
}
/* ----------------------------------------------- Конец верстки секции отзывы */
/* Начало верстки секции "о нас пишут"  ----------------------------------------------- */
.main_articles-section {
  background-color: #fff;
  padding: 50px 100px 50px 100px;
  display: flex;
  flex-direction: column;
  height: 500px;
}
.articles-section_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.articles-section_navigation {
  margin-top: 30px;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

.main-block_radio {
  display: none;
}

.main-block_radio + label {
  padding: 10px 20px;
  cursor: pointer;
}
.main-block_radio:checked + label {
  background-color: #f2f2f2;
  border-radius: 8px;
}

.main-block_radio + label:hover {
  color: #e82431;
}

.articles-section_content {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  height: fit-content;
}

.article_text {
  margin-top: 50px;
  font-family: serif;
  font-size: 24px;
  text-align: center;
}

.article_link {
  margin-top: 30px;
  color: #2390f5;
  font-size: 14px;
}
/* ----------------------------------------------- Конец верстки секции "о нас пишут" */
/* Начало верстки секции "Новости"  ----------------------------------------------- */

.main_news-section {
  background-color: #fff;
  padding: 50px 100px 50px 100px;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.news-section_news-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: fit-content;
  width: 100%;
  margin-top: 30px;
}

.main-block_news-card {
  width: 24%;
  max-height: 312px;
  height: 280px;
}
.news-card_image-container {
  width: 100%;
  height: 60%;
  background-image: url("../../img/main/news-section_news-card.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
}

.image-container_header {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

.image-cointainer_subheader {
  color: white;
  font-size: 14px;
}

.news-card_text-container {
  display: flex;
  flex-direction: column;
}

.text-container_header {
  margin-top: 10px;
  color: #2390f5;
  font-weight: normal;
  font-size: 13px;
}

.text-container_preview {
  font-size: 12px;
}

.news-section_showAll-button {
  align-self: center;
  padding: 15px 49px;
  background-color: #e82431;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}

.news-section_showAll-button:visited {
  color: white;
  text-decoration: none;
}

/* ----------------------------------------------- Конец верстки секции "Новости" */

.main_prefooter-section {
  padding: 50px 100px 50px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 865px;
  background-color: #f2f2f2;
}

.prefooter-section_city-section,
.prefooter-section_subway-section,
.prefooter-section_district-section {
  width: 100%;
  max-height: 33%;
}


.city-section_table,
.district-section_table,
.subway-section_table{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.city-section_table > section,
.district-section_table > section,
.subway-section_table > section{
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
} 

.city-section_table > section > a,.city-section_table > section > a:visited,
.district-section_table > section > a,.district-section_table > section > a:visited,
.subway-section_table > section > a,.subway-section_table > section > a:visited {
  font-size: 14px;
  color: black;
  text-decoration: none;
  width: 25%;
}

.city-section_table > section > a:hover, 
.district-section_table > section > a:hover,
.subway-section_table > section > a:hover{
  color: #e82431;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 26px 100px 17px 100px;
}