.search-section_header {
    font-size: 40px;
    font-weight: bold;
     color: #fff;
     margin-bottom: 10px;
     text-align: left;
     align-self: center;
     width: 90%;
}

.search-section_subheader {
    font-size: 20px;
     color: #fff;
     margin-bottom: 50px;
     text-align: left;
     align-self: center;
     width: 90%;
}

.main_search-section {
    background-image: url("../../img/main/main_image-filter.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 500px;
    padding: 50px 50px;
    height:450px;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}
.search-section_search-bar  {
    height:30%;
    width: 90%;
    align-self: center;
    margin-bottom: 20px;
}
.filter-section_form {
    position: relative;
    display: flex;

}
.filter-section_form label {
    margin-right: 2px;
}
.filter-section_section {
    width: 20%;
}

.filter-section_filter-button {
    padding: 15px 50px;
    width: 20%;
    background-image: url("../../img/main/main_filter-arrow.svg");
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    
}
.filter-section_filter-content {
    display: none;
    
}
 input[type="checkbox"]:checked +.filter-section_filter-content {
    display: flex;
    flex-direction: column;
    width: 27%;
    background-color: rgba(255, 255, 255, 0.8);
}

#realEstateDropdown {
    position: absolute;
    top: 51px;
}
#roomAmountDropdown {
    position: absolute;
    top: 51px;
    left: 343px;
}
.filter-section_filter-content label {
    padding: 15px 20px;
}

.filter-section_filter-content label:hover {
    background-color: rgba(204, 204, 204, 0.5);
    color: red
}
.search-bar_inputs {
    display: none;
}

.search-section_perks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.perks_description {
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perk-logo {
    width: 120px;
    height: 90px;
    margin-bottom: 30px;
}

.perk-description {
    font-size: 18px;
    color: white
}
