body {
  background-color: #f2f2f2;
}
/* Начало верстки секции быстрого поиска -----------------------------------------------  */

.main_search-section {
  background-image: url("../../img/main/main_image-filter.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 50px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}
.search-section_header {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
  text-align: left;
  align-self: center;
  width: 90%;
}

.search-section_subheader {
  font-size: 20px;
  color: #fff;
  margin-bottom: 50px;
  text-align: left;
  align-self: center;
  width: 90%;
}
.search-section_search-bar {
  height: fit-content;
  width: 90%;
  align-self: center;
  margin-bottom: 50px;
}
.filter-section_form {
  position: relative;
  display: flex;
  flex-direction: column;
}
.filter-section_search-section > label {
  margin-right: 2px;
}

.filter-section_search-section {
  display: flex;
}

.filter-section_typeOfOperation-section {
  display: flex;
  width: 20%;
}
.filter-section_typeOfOperation-section > label {
  background-color: rgba(28, 36, 67, 0.3);
  width: 50%;
  height: 51px;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-section_typeOfOperation-section > label {
  border-radius: 0px 8px 0px 0px;
}
.filter-section_typeOfOperation-section > label:first-of-type {
  border-radius: 8px 0px 0px 0px;
}

.filter-section_typeOfOperation-section > label:hover {
  color: #e82431;
}

input[name="typeOfOperation"]:checked + label {
  border-bottom: 3px solid #e82431;
  background-color: rgba(28, 36, 67, 0.6);
}

.filter-section_filter-button {
  -webkit-appearance: none;
  padding: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 20%;
  background-image: url("../../img/main/main_filter-arrow.svg");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
.filter-section_filter-content {
  display: none;
}
input[type="checkbox"]:checked + .filter-section_filter-content {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: rgba(255, 255, 255, 0.9);
  height: 200px;
  overflow: scroll;
}

.search-bar_room-checkbox + label::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 5px;
  width: 20px;
  height: 20px;
  border: 1px solid #adb5bd;
  border-radius: 5px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.search-bar_room-checkbox:checked + label::before {
  border-color: #1c2443;
  background-color: #1c2443;
  background-image: url("../../img/main/checkmark.svg");
}

#realEstateDropdown {
  position: absolute;
  top: 105%;
}
#roomAmountDropdown {
  position: absolute;
  top: 105%;
  left: 20.4%;
}

#chosenCityDropdown {
  position: absolute;
  top: 105%;
  left: 40.7%;
}

#priceRangeDropdown {
  position: absolute;
  top: 105%;
  left: 61.1%;
}
.filter-section_filter-content label {
  padding: 15px 20px;
  cursor: pointer;
}

.filter-section_filter-content label:hover {
  background-color: rgba(204, 204, 204, 0.5);
  color: red;
}
.search-bar_inputs {
  display: none;
}

.search-section_perks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.perks_description {
  display: flex;
  width: 25%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.perk-logo {
  width: 120px;
  height: 90px;
}

.perk-description {
  height: 30%;
  font-size: 16px;
  color: white;
}

.filter-section_search-button {
  -webkit-appearance: none;
  cursor: pointer;
  width: 20%;
  padding: 0px;
  margin: 0px;
  background-color: #e82431;
  outline: none;
  border: none;
  border-radius: 0px 8px 8px 0px;
  font-size: 14px;
  color: white;
  font-weight: bold;
}

input[type="checkbox"]:checked + #priceRangeDropdown {
  display: flex;
  flex-direction: column;
  width: 20.23%;
  background-color: rgba(255, 255, 255, 0.9);
  height: 120px;
  justify-content: space-around;
}

#slider-range {
  margin-left: auto;
  margin-right: auto;
  padding: 1px;
  width: 80% !important;
  background-color: #d9d9d9 !important;
  height: 2px !important;
  border: none !important;
}

.ui-slider-range {
  background-color: #1c2443 !important;
}

#amount {
  background-color: transparent !important;
  border: none !important;
  font-size: 14px !important;
}
.ui-state-default {
  border: none !important;
}
.ui-slider-handle {
  border: none;
  border-radius: 22px;
  width: 15px !important;
  height: 15px !important;
  outline: none;
  background-color: #1c2443 !important;
}
.filter-content_values-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text-inputs {
  height: 30px;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 8px;
  text-align: center;
  width: 40%;
}

.reversed-arrow {
  background-image: url("../../img/main/main_image-filter-reversed.svg");
}

/* ----------------------------------------------- Конец верстки секции быстрого поиска */

/* Начало верстки секции историй -----------------------------------------------  */
.main_stories-section {
  padding: 50px 100px 105px 100px;
  background-color: #fff;
}

.stories-section_stories-block {
  width: 100%;
  margin-top: 35px;
  height: 330px;
  position: relative;
  display: flex;
  align-items: center;
  overflow: scroll;
}

.stories-block_story-block {
  width: 20%;
  height: 90%;
  padding: 5px;
  border: 3px solid #ccc;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  min-width: 15%;
  min-height: 90%;
}
.stories-block_add-story {
  width: 100%;
  height: 85%;
  border: 2px dashed #1c2443;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 40px;
  border-radius: 8px;
}
.add-story_plus-button {
  -webkit-appearance: none;
  position: absolute;
  top: 45%;
  width: 34px;
  height: 34px;
  outline: none;
  border: none;
  background-color: transparent;
  background-image: url("../../img/main/main_add-story.svg");
}
.stories-block_added-story {
  width: 100%;
  height: 100%;
  background-image: url("../../img/main/main_story-image.jpg");
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.add-story_added-text {
  font-family: "Comic Sans MS";
  color: #ff0000;
  text-align: center;
}

.add-story_add-text {
  text-align: center;
  font-size: 12px;
}

/* ----------------------------------------------- Конец верстки секции историй */
.main_applicationForm-section {
  padding: 50px 100px 0px 100px;
}
.main_applicationFormBig-section {
  padding: 50px 100px 0px 100px;
}
/* Начало верстки секции взаимодействия с квартирами-----------------------------------------------  */
.main_flats-section {
  padding: 50px 100px 50px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flats-section_navigation {
  margin-top: 30px;
}
.navigation_text {
  font-weight: bold;
  font-size: 24px;
}

.navigation {
  padding: 5px 10px;
  background-color: #fff;
  color: #808080;
  border-radius: 8px;
  cursor: pointer;
}
input[type="radio"]:checked + .navigation {
  background-color: #1c2443;
  color: white;
}
input[type="radio"]:checked + .navigation:hover {
  background-color: #1c2443;
  color: #e82431;
}
.navigation:hover {
  color: #e82431;
}

.flats-section_advertisments-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 33px;
}
.flats-section_advertisments-section > div {
  margin-bottom: 15px;
}
.advertisments-section_avdert-card {
  background-color: #fff;
  width: 24%;
  height: 350px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}
.advertisments-section_avdert-card:hover,
.advertisments-section_avdert-card:active {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

.avdert-card_card-image {
  width: 100%;
  height: 70%;
  background-image: url("../../img/main/main_rentAdvertisment-card.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 8px 8px 0px 0px;
}
.advert-card_section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.avdert-card_card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}
.avdert-card_card-info > div {
  margin-bottom: 8px;
}
.card-info_price-tag {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.price-tag_price {
  font-weight: bold;
  font-size: 14px;
}

.price-tag_per-month {
  color: #808080;
  font-size: 14px;
}

.card-info_flat-parameters {
  font-weight: 300;
  font-size: 11px;
}

.card-info_flat-description {
  font-size: 14px;
}
.avdert-card_card-address {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.card-address_map-checkmark {
  width: 10px;
  height: 14px;
  margin-right: 5px;
}

.card-address-address-span {
  font-size: 12px;
  font-weight: 300;
}

.flats-section_allAdvertisments-link {
  cursor: pointer;
  margin-top: 30px;
  background-color: #e82431;
  padding: 15px 20px;
  width: fit-content;
  font-size: 20px;
  border-radius: 8px;
  align-self: center;
}

.flats-section_allAdvertisments-link:hover {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

.flats-section_allAdvertisments-link > a,
.flats-section_allAdvertisments-link > a:visited,
.flats-section_allAdvertisments-link > a:hover,
.flats-section_allAdvertisments-link > a:active {
  text-decoration: none;
  color: white;
}
.flats-section_fastLinks-section {
  width: 100%;
  height: 326px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.fastLinks-section_fast-card,
.fastLinks-section_fast-card:visited {
  height: 326px;
  width: 24%;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
}

.fastLinks-section_fast-card:hover,
.fastLinks-section_fast-card :active {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

.fast-card_image-cover {
  width: 100%;
  height: 40%;
  border-radius: 8px 8px 0px 0px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.fast-card_image-cover > span {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin: 0px 20px 10px 20px;
}

.fast-card_navigation-container {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
}

.navigation-container_link,
.navigation-container_link:visited {
  margin-bottom: 15px;
  color: #000;
  text-decoration: none;
  font-size: 12px;
}

.navigation-container_link:hover,
.navigation-container_link:active {
  color: #e82431;
}
.rentFlat {
  background-image: url("../../img/main/main_rentFlat-fast.png");
}

.rentDay {
  background-image: url("../../img/main/main_rentDay-fast.png");
}

.rentCountry {
  background-image: url("../../img/main/main_rentCountry-fast.png");
}

.rentCommercial {
  background-image: url("../../img/main/main_rentCommercial-fast.png");
}

.sellFlat {
  background-image: url("../../img/main/main_sellFlat-fast.png");
}

.sellGarage {
  background-image: url("../../img/main/main_sellGarage-fast.png");
}
/* ----------------------------------------------- Конец верстки секции взаимодействия с квартирами */

/* Начало верстки секции секции о том, как все работает----------------------------------------------  */
.main_workDescribe-section {
  background-color: #fff;
  padding: 50px 100px 50px 100px;
  display: flex;
  flex-direction: column;
  height: 500px;
}
.workDescribe-section_stages-section {
  margin-top: 30px;
  display: flex;
  height: 100%;
}
.stages-section_stage-card {
  width: 50%;
  height: 100%;
  margin-right: 5px;
  position: relative;
}
.stages-section_stage-card::after {
  content: "";
  position: absolute;
  right: 0;
  top: 25%;
  display: block;
  border-right: 3px solid #e82431;
  border-bottom: 3px solid #e82431;
  width: 25px;
  height: 25px;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.lastChild::after {
  content: "";
  position: absolute;
  right: 0;
  top: 25%;
  display: block;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  width: 25px;
  height: 25px;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.stage-card_image-container {
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-countainer_image {
  margin-left: 25%;
}

.stage-card_text-container {
  width: 100%;
  height: 50%;
}

.text-container_header-stage {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.text-cotainer_text {
  font-size: 14px;
}
.firstStage {
  background-image: url("../../img/main/stageFirst.svg");
}
.secondStage {
  background-image: url("../../img/main/stageSecond.svg");
}
.thirdStage {
  background-image: url("../../img/main/stageThird.svg");
}
.fourthStage {
  background-image: url("../../img/main/stageFourth.svg");
}

/* ----------------------------------------------- Конец верстки секции о том, как это работает */
/* Начало верстки секции о преимуществах подбора ----------------------------------------------- */
.main_benefits-section {
  padding: 50px 100px 50px 100px;
  background-color: #fff;
  height: 300px;
  display: flex;
  flex-direction: column;
}
.benefits-section_describe-cards {
  margin-top: 40px;
  display: flex;
  width: 100%;
  height: 70%;
  align-items: center;
  justify-content: space-between;
}
.describe-cards_benefit-card {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 16px;
}

.benefit-card_text-section {
  display: flex;
  flex-direction: column;
  height: 60%;
}

.benefit-card_header {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.benefit-card_text {
  font-size: 12px;
}
.benefit-card_image {
  width: 100%;
  height: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}
.firstBenefit {
  background-image: url("../../img/main/timeEconomy.svg");
}
.secondBenefit {
  background-image: url("../../img/main/moneyEconomy.svg");
}
.thirdBenefit {
  background-image: url("../../img/main/completeSearch.svg");
}
.fourthBenefit {
  background-image: url("../../img/main/juristHelp.svg");
}
/* ----------------------------------------------- Конец верстки секции о преимуществах подбора */

/* Начало верстки секции отзывы ----------------------------------------------- */
.review_header-block {
  margin-left: 100px;
}
.main_review-section {
  padding-top: 50px;
  background-color: #fff;
  height: 800px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.iphone-story {
  height: 100%;
  position: relative;
  top: 0;
  left: 20%;
}
.story-image {
  position: absolute;
  height: 98%;
  left: 1%;
  top: 2.5%;
}
.iphoneReview {
  z-index: 100;
  height: 100%;
  position: absolute;
}
.swiper-container {
  margin-top: 120px;
  width: 100%;
  height: 70%;
  background-image: url("../../img/main/main_reviewBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.6);
}

.review {
  transform: scale(0.8);
  position: absolute;
  top: 20%;
  left: 40%;
  width: 50%;
  height: 50%;
  background-color: rgba(255, 255, 255, 1) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 50px 20px 50px;
}
.review-section {
  position: relative;
}
.person-section {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50px;
  top: -55px;
}
.person-image {
  width: 105px;
  height: 105px;
  border-radius: 50%;
  border: 5px solid #e82431;
  background-image: url("../../img/main/avatar-example.png");
  background-size: cover;
  margin-right: 15px;
}

.review-date {
  margin-top: 15px;
  font-weight: 300;
  font-size: 12px;
}

.swiper-button-prev,
.swiper-button-next {
  color: #1c2443;
}
.swiper-button-prev:hover,
.swiper-button-prev:active,
.swiper-button-next:hover,
.swiper-button-bext:active {
  color: #e82431;
}

.swiper-button-prev {
  left: 92%;
  top: 95%;
  transform: scale(0.5);
}
.swiper-button-next {
  left: 95%;
  top: 95%;
  transform: scale(0.5);
}
/* ----------------------------------------------- Конец верстки секции отзывы */
/* Начало верстки секции "о нас пишут"  ----------------------------------------------- */
.main_articles-section {
  background-color: #fff;
  padding: 50px 100px 50px 100px;
  display: flex;
  flex-direction: column;
  height: 500px;
}
.articles-section_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.articles-section_navigation {
  margin-top: 30px;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

.main-block_radio {
  display: none;
}

.main-block_radio + label {
  padding: 10px 20px;
  cursor: pointer;
}
.main-block_radio:checked + label {
  background-color: #f2f2f2;
  border-radius: 8px;
}

.main-block_radio + label:hover {
  color: #e82431;
}

.articles-section_content {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  height: fit-content;
}

.article_text {
  margin-top: 50px;
  font-family: serif;
  font-size: 24px;
  text-align: center;
}

.article_link {
  margin-top: 30px;
  color: #2390f5;
  font-size: 14px;
}
/* ----------------------------------------------- Конец верстки секции "о нас пишут" */
/* Начало верстки секции "Новости"  ----------------------------------------------- */

.main_news-section {
  background-color: #fff;
  padding: 50px 100px 50px 100px;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.news-section_news-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: fit-content;
  width: 100%;
  margin-top: 30px;
}
.news_link {
  text-decoration: none;
  color: #1c2443;
}
.main-block_news-card {
  width: 24%;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news-card_image-container {
  width: 100%;
  height: 80%;
  background-image: url("../../img/main/news-section_news-card.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
}

.image-container_header {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  margin-top: 50px;
}

.image-cointainer_subheader {
  color: white;
  font-size: 14px;
}

.news-card_text-container {
  display: flex;
  flex-direction: column;
}

.text-container_header {
  margin-top: 10px;
  color: #2390f5;
  font-weight: normal;
  font-size: 13px;
}

.text-container_preview {
  font-size: 12px;
}

.news-section_showAll-button {
  align-self: center;
  padding: 15px 49px;
  background-color: #e82431;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  -webkit-appearance: none;
}
.news-section_showAll-button:hover {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

.news-section_showAll-button:visited {
  color: white;
  text-decoration: none;
}

/* ----------------------------------------------- Конец верстки секции "Новости" */

.footer {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 26px 100px 17px 100px;
}

/* Начало стилей для мобильной верстки ----------------------------------------------- */

.typeofOperation-search {
  display: none;
}

.search-section_search-form-mobile {
  width: 100%;
  height: 50%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.search-form_typeofOperation-section {
  width: 100%;
  display: flex;
}
.typeofOperation-label {
  width: 50%;
  background-color: #fff;
  font-size: 16px;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.rent-label {
  border-radius: 8px 0px 0px 8px;
}

.buy-label {
  border-radius: 0px 8px 8px 0px;
}

input[name="typeofOperation"]:checked + label {
  background-color: #1c2443;
  color: #fff;
}
input[name="typeofOperation"] + label:hover {
  color: #e82431;
  cursor: pointer;
}

.searchForm_choseCity-select,
.searchForm_choseApt-select {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
select#searchCity,
select#searchApt {
  flex: none;
  background-color: white;
  padding: 10px 20px;
  width: 100%;
  margin-right: 0;
  border-radius: 8px;
  font-size: 14px;
  background-image: url("../../img/main/main_filter-arrow.svg");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  margin-bottom: 15px;
}

.search-form_submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e82431;
  color: white;
  font-size: 14px;
  border: none;
  outline: none;
  border-radius: 8px;
  text-transform: uppercase;
  padding: 10px 20px;
  margin-bottom: 20px;
  -webkit-appearance: none;
}
.stories-section_stories-block-mobile {
  display: none;
  overflow: scroll;
  margin-top: 25px;
  padding: 20px 0px;
}

.stories-section_stories-block-mobile > label {
  margin-right: 15px;
}

.stories-block_story-block-mobile {
  min-width: 70px;
  min-height: 70px;
  border-radius: 50%;
  background-color: #d9d9d9;
  border: 5px solid #d9d9d9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.showingStory-content {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.addStory-mobile {
  background-image: url("../../img/main/main_add-story.svg");
  background-size: 50%;
}
.example1 {
  background-image: url("../../img/main/story-mobile_example1.png");
}
.example2 {
  background-image: url("../../img/main/story-mobile_example2.png");
}
.example3 {
  background-image: url("../../img/main/story-mobile_example3.png");
}
input[name="watchStoryCheckbox"] {
  display: none;
}
.story-darkLayer-label {
  display: none;
}
input[name="watchStoryCheckbox"]:checked + label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.showingStory-content {
  width: 50%;
  height: 50%;
  background-color: salmon;
}

.flats-section_navigation-mobile {
  display: none;
}
.flats-section_navigation-mobile > .navigation_text {
  margin-right: 10px;
}
.navigation_field {
  position: relative;
  width: 80%;
  cursor: pointer;
}
.navigation_field:hover .field_content {
  display: flex;
}
.navigation_field:hover .field_name {
  display: flex;
}
.field_name {
  width: 80%;
  padding: 5px 10px;
  background-color: #1c2443;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  background-image: url("../../img/main/white-arrow.svg");
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

.field_content {
  position: absolute;
  top: 25px;
  display: none;
  flex-direction: column;
  text-decoration: none;
  background-color: #1c2443;
  border-radius: 8px;
  padding: 0px 10px 10px 10px;
}

.field_content > a {
  width: 100%;
  text-decoration: none;
  color: #fff;
  margin-top: 10px;
}

.field_content > a:hover {
  color: #e82431;
}
/* ----------------------------------------------- Конец мобильной верстки */

@media (min-width: 1024px) and (max-width: 1200px) {
  .main_search-section {
    padding: 100px 0px;
  }
  .filter-section_filter-button {
    padding: 10px 10px;
    font-size: 13px;
    -webkit-appearance: none;
  }

  input[type="checkbox"]:checked + .filter-section_filter-content {
    display: flex;
    flex-direction: column;
    width: 19%;
    background-color: rgba(255, 255, 255, 0.9);
    height: 150px;
    overflow: scroll;
  }
  .filter-section_filter-content label {
    padding: 10px 15px;
    font-size: 14px;
  }

  #amount {
    width: 80%;
  }

  .perk-description {
    margin-top: 12px;
    font-size: 12px;
    color: white;
    text-align: center;
  }
  #chosenCityDropdown {
    position: absolute;
    top: 105%;
    left: 41.2%;
  }

  #priceRangeDropdown {
    position: absolute;
    top: 105%;
    left: 61.6%;
  }
  .main_stories-section {
    padding: 50px 50px 105px 50px;
    background-color: #fff;
  }
  .stories-block_story-block {
    min-width: 16%;
  }
  .main_flats-section {
    padding: 50px 50px 50px 50px;
  }
  .flats-section_navigation {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
  }
  .flats-section_navigation > label,
  .flats-section_navigation > span {
    margin-right: 5px;
    margin-bottom: 10px;
  }

  .main_workDescribe-section {
    padding: 50px;
  }
  .text-container_header-stage {
    font-size: 13px;
    font-weight: bold;
  }
  .text-cotainer_text {
    font-size: 13px;
  }
  .main_benefits-section {
    padding: 50px;
  }
  .describe-cards_benefit-card {
    width: 20%;
  }
  .benefit-card_header {
    font-size: 12px;
  }
  .benefit-card_text {
    font-size: 11px;
  }

  .review_header-block {
    margin-left: 50px;
  }
  .iphone-story {
    left: 10%;
  }
  .main_articles-section {
    padding: 50px;
  }

  .main_news-section {
    padding: 50px;
  }
  .news-section_news-cards {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 100%;
    margin-top: 30px;
  }
  .main-block_news-card {
    width: 23%;
    margin-bottom: 15px;
  }
  .news-section_showAll-button {
    margin-top: 20px;
    -webkit-appearance: none;
  }
  .main_prefooter-section {
    height: 600px;
    padding: 50px;
  }
  .city-section_table > section > a,
  .city-section_table > section > a:visited,
  .district-section_table > section > a,
  .district-section_table > section > a:visited,
  .subway-section_table > section > a,
  .subway-section_table > section > a:visited {
    font-size: 11px;
    color: black;
    text-decoration: none;
    width: 25%;
  }
}

@media (min-width: 720px) and (max-width: 1023px) {
  .main_search-section {
    padding: 100px 20px;
  }
  .search-section_search-bar {
    display: none;
  }
  .search-section_search-form-mobile {
    display: flex;
  }
  .search-form_submit-button {
    cursor: pointer;
    -webkit-appearance: none;
  }
  .perks_description {
    width: auto;
  }
  .perk-description {
    font-size: 12px;
  }
  .search-section_header {
    text-align: center;
    font-size: 34px;
  }
  .search-section_subheader {
    text-align: center;
    font-size: 18px;
  }
  .main_section-subheader {
    font-size: 15px;
  }
  .main_stories-section {
    padding: 50px 50px 50px 50px;
  }
  .stories-section_stories-block {
    display: none;
  }
  .stories-section_stories-block-mobile {
    display: flex;
  }
  .main_flats-section {
    padding: 50px;
  }
  .flats-section_navigation {
    display: flex;
    flex-wrap: wrap;
  }
  .flats-section_navigation > span,
  .flats-section_navigation > label {
    margin-right: 5px;
    margin-bottom: 10px;
  }

  .advertisments-section_avdert-card {
    background-color: #fff;
    width: 45%;
  }

  .avdert-card_card-image {
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
  }
  .flats-section_fastLinks-section {
    display: flex;
    overflow-x: scroll;
    height: auto;
  }
  .fastLinks-section_fast-card {
    width: 49%;
    margin-bottom: 10px;
    margin-right: 10px;
    flex-basis: 45%;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .main_workDescribe-section {
    padding: 50px;
    height: 550px;
  }
  .workDescribe-section_stages-section {
    overflow: scroll;
    height: 100%;
    margin-top: 0;
  }
  .stages-section_stage-card {
    min-width: 50%;
  }
  .image-countainer_image {
    margin-left: 20%;
  }
  .text-container_header-stage {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .text-cotainer_text {
    font-size: 16px;
  }
  .main_benefits-section {
    padding: 50px;
    height: auto;
  }

  .benefits-section_describe-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 600px;
  }

  .describe-cards_benefit-card {
    width: 40%;
    height: 44%;
    margin-bottom: 20px;
  }
  .benefit-card_header {
    font-size: 17px;
  }
  .benefit-card_text {
    font-size: 14px;
  }
  .benefit-card_image {
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 16px;
  }

  .main_review-section {
    display: none;
  }
  .main_articles-section {
    display: none;
  }
  .main_news-section {
    display: none;
  }
  .city-section_table > section > a,
  .city-section_table > section > a:visited,
  .district-section_table > section > a,
  .district-section_table > section > a:visited,
  .subway-section_table > section > a,
  .subway-section_table > section > a:visited {
    font-size: 9px;
    color: black;
    text-decoration: none;
    width: 25%;
  }

  .main_prefooter-section {
    height: auto;
    padding: 20px 10px;
  }
  .subway-section_table,
  .city-section_table,
  .district-section_table {
    margin-top: 10px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .subway-section_table > section,
  .city-section_table > section,
  .district-section_table > section {
    flex-direction: column;
    width: 33%;
    align-items: flex-start;
  }
  .subway-section_table > section > a,
  .city-section_table > section > a,
  .district-section_table > section > a {
    width: 100%;
    margin-bottom: 10px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    padding: 36px 20px 17px 20px;
    background-color: #f2f2f2;
  }
}

@media (min-width: 600px) and (max-width: 719px) {
  .main_search-section {
    padding: 100px 20px;
  }
  .search-section_search-bar {
    display: none;
  }
  .search-section_search-form-mobile {
    display: flex;
  }

  .search-form_submit-button {
    cursor: pointer;
    -webkit-appearance: none;
  }
  .search-section_perks {
    flex-wrap: wrap;
  }
  .perks_description {
    width: 50%;
    justify-content: center;
    margin-bottom: 10px;
  }
  .perk-description {
    font-size: 10px;
  }

  .red-line {
    width: 50px;
    margin-top: -5px;
  }
  .main_header-block {
    display: flex;
    align-items: center;
  }
  .search-section_header {
    text-align: center;
    font-size: 34px;
  }

  .main_section-header {
    font-size: 20px;
  }
  .search-section_subheader {
    text-align: center;
    font-size: 18px;
  }
  .main_section-subheader {
    font-size: 13px;
  }
  .main_stories-section {
    padding: 50px 25px;
  }
  .stories-section_stories-block {
    display: none;
  }
  .stories-section_stories-block-mobile {
    display: flex;
  }
  .main_flats-section {
    padding: 50px 25px;
  }
  .flats-section_navigation {
    display: none;
  }
  .flats-section_navigation-mobile {
    display: flex;
  }
  .flats-section_navigation-mobile {
    display: flex;
  }
  .flats-section_navigation > span,
  .flats-section_navigation > label {
    margin-right: 5px;
    margin-bottom: 10px;
  }

  .advertisments-section_avdert-card {
    background-color: #fff;
    width: 100%;
  }

  .avdert-card_card-image {
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
  }
  .flats-section_fastLinks-section {
    display: flex;
    overflow-x: scroll;
    height: auto;
  }
  .fastLinks-section_fast-card {
    width: 49%;
    margin-bottom: 10px;
    margin-right: 10px;
    flex-basis: 45%;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .main_workDescribe-section {
    padding: 50px 25px;
    height: 550px;
  }
  .workDescribe-section_stages-section {
    overflow: scroll;
    height: 100%;
    margin-top: 0;
  }
  .stages-section_stage-card {
    min-width: 50%;
  }
  .image-countainer_image {
    margin-left: 20%;
  }
  .text-container_header-stage {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .text-cotainer_text {
    font-size: 16px;
  }
  .main_benefits-section {
    padding: 50px 25px;
    height: auto;
  }

  .benefits-section_describe-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 600px;
  }

  .describe-cards_benefit-card {
    width: 40%;
    height: 44%;
    margin-bottom: 20px;
  }
  .benefit-card_header {
    font-size: 17px;
  }
  .benefit-card_text {
    font-size: 14px;
  }
  .benefit-card_image {
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 16px;
  }

  .main_review-section {
    display: none;
  }
  .main_articles-section {
    display: none;
  }
  .main_news-section {
    display: none;
  }
  .city-section_table > section > a,
  .city-section_table > section > a:visited,
  .district-section_table > section > a,
  .district-section_table > section > a:visited,
  .subway-section_table > section > a,
  .subway-section_table > section > a:visited {
    font-size: 9px;
    color: black;
    text-decoration: none;
    width: 25%;
  }

  .main_prefooter-section {
    height: auto;
    padding: 20px 10px;
  }
  .subway-section_table,
  .city-section_table,
  .district-section_table {
    margin-top: 10px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .subway-section_table > section,
  .city-section_table > section,
  .district-section_table > section {
    flex-direction: column;
    width: 33%;
    align-items: flex-start;
  }
  .subway-section_table > section > a,
  .city-section_table > section > a,
  .district-section_table > section > a {
    width: 100%;
    margin-bottom: 10px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    padding: 36px 20px 17px 20px;
    background-color: #f2f2f2;
  }
}

@media (min-width: 414px) and (max-width: 599px) {
  .main_search-section {
    padding: 30px 20px;
  }
  .search-section_search-bar {
    display: none;
  }
  .search-section_search-form-mobile {
    display: flex;
  }

  .search-form_submit-button {
    cursor: pointer;
    -webkit-appearance: none;
  }
  .search-section_perks {
    flex-wrap: wrap;
  }
  .perks_description {
    width: 50%;
    justify-content: center;
    margin-bottom: 10px;
  }
  .perk-description {
    font-size: 10px;
  }
  .perk-logo {
    width: 100px;
    height: 75px;
  }

  .typeofOperation-label :hover {
    color: white;
  }

  .red-line {
    width: 50px;
    margin-top: -5px;
  }
  .main_header-block {
    display: flex;
    align-items: center;
  }
  .search-section_header {
    text-align: center;
    font-size: 34px;
  }

  .main_section-header {
    font-size: 20px;
  }
  .search-section_subheader {
    text-align: center;
    font-size: 18px;
  }
  .main_section-subheader {
    font-size: 13px;
  }
  .main_stories-section {
    padding: 50px 25px;
  }
  .stories-section_stories-block {
    display: none;
  }
  .stories-section_stories-block-mobile {
    display: flex;
  }
  .main_flats-section {
    padding: 50px 0px;
  }
  .flats-section_navigation {
    display: none;
  }
  .flats-section_navigation-mobile {
    display: flex;
  }
  .flats-section_navigation-mobile {
    display: flex;
  }
  .flats-section_navigation > span,
  .flats-section_navigation > label {
    margin-right: 5px;
    margin-bottom: 10px;
  }

  .advertisments-section_avdert-card {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    width: 100%;
    height: 150px;
  }
  .advert-card_section {
    padding: 10px;
  }

  .avdert-card_card-image {
    width: 80%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 0px;
  }
  .flats-section_fastLinks-section {
    display: flex;
    overflow-x: scroll;
    height: auto;
  }
  .fastLinks-section_fast-card {
    margin-bottom: 10px;
    margin-right: 10px;
    flex-basis: 98%;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .main_workDescribe-section {
    padding: 50px 25px;
    height: 550px;
  }
  .workDescribe-section_stages-section {
    overflow: scroll;
    height: 100%;
    margin-top: 0;
  }
  .stages-section_stage-card {
    min-width: 100%;
  }
  .image-countainer_image {
    margin-left: 20%;
  }
  .text-container_header-stage {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .text-cotainer_text {
    font-size: 16px;
  }
  .main_benefits-section {
    padding: 50px 25px;
    height: auto;
  }

  .benefits-section_describe-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1600px;
  }

  .describe-cards_benefit-card {
    width: 100%;
    height: 25%;
    margin-bottom: 20px;
  }
  .benefit-card_header {
    font-size: 17px;
  }
  .benefit-card_text {
    font-size: 14px;
  }
  .benefit-card_image {
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
  }

  .main_review-section {
    display: none;
  }
  .main_articles-section {
    display: none;
  }
  .main_news-section {
    display: none;
  }
  .city-section_table > section > a,
  .city-section_table > section > a:visited,
  .district-section_table > section > a,
  .district-section_table > section > a:visited,
  .subway-section_table > section > a,
  .subway-section_table > section > a:visited {
    font-size: 13px;
    color: black;
    text-decoration: none;
    width: 25%;
  }

  .main_prefooter-section {
    height: auto;
    padding: 20px 10px;
  }
  .subway-section_table,
  .city-section_table,
  .district-section_table {
    margin-top: 5px;
    flex-direction: column;
  }
  .subway-section_table > section,
  .city-section_table > section,
  .district-section_table > section {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .subway-section_table > section > a,
  .city-section_table > section > a,
  .district-section_table > section > a {
    width: 100%;
    margin-bottom: 5px;
  }

  .district-section_table > section:nth-child(2),
  .district-section_table > section:nth-child(3),
  .district-section_table > section:nth-child(4),
  .subway-section_table > section:nth-child(2),
  .subway-section_table > section:nth-child(3),
  .subway-section_table > section:nth-child(4) {
    display: none;
  }

  .footer {
    display: flex;
    flex-direction: column;
    padding: 36px 20px 17px 20px;
    background-color: #f2f2f2;
  }
}

@media (min-width: 320px) and (max-width: 413px) {
  .main_search-section {
    padding: 30px 20px;
  }

  .search-form_submit-button {
    cursor: pointer;
    -webkit-appearance: none;
  }
  .search-section_search-bar {
    display: none;
  }
  .search-section_search-form-mobile {
    display: flex;
  }
  .search-section_perks {
    flex-wrap: wrap;
  }
  .perk-logo {
    width: 100px;
    height: 75px;
  }
  .perks_description {
    width: 50%;
    justify-content: center;
    margin-bottom: 10px;
  }
  .perk-description {
    font-size: 9px;
  }

  .red-line {
    width: 50px;
    margin-top: -5px;
  }
  .main_header-block {
    display: flex;
    align-items: center;
  }
  .search-section_header {
    text-align: center;
    font-size: 25px;
  }

  .main_section-header {
    font-size: 20px;
  }
  .search-section_subheader {
    text-align: center;
    font-size: 17px;
  }
  .main_section-subheader {
    display: none;
  }
  .main_stories-section {
    padding: 50px 25px;
  }
  .stories-section_stories-block {
    display: none;
  }
  .stories-section_stories-block-mobile {
    display: flex;
  }
  .main_flats-section {
    padding: 50px 0px;
  }
  .flats-section_navigation {
    display: none;
  }
  .flats-section_navigation-mobile {
    display: flex;
  }
  .flats-section_navigation-mobile {
    display: flex;
  }
  .flats-section_navigation > span,
  .flats-section_navigation > label {
    margin-right: 5px;
    margin-bottom: 10px;
  }

  .advertisments-section_avdert-card {
    background-color: #fff;
    width: 100%;
  }

  .advertisments-section_avdert-card {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    width: 100%;
    height: 150px;
  }
  .advert-card_section {
    padding: 10px;
  }

  .avdert-card_card-image {
    width: 80%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 0px;
  }
  .flats-section_fastLinks-section {
    display: flex;
    overflow-x: scroll;
    height: auto;
  }
  .fastLinks-section_fast-card {
    margin-bottom: 10px;
    margin-right: 10px;
    flex-basis: 98%;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .flats-section_allAdvertisments-link {
    font-size: 18px;
  }

  .main_workDescribe-section {
    padding: 50px 25px;
    height: 560px;
  }
  .workDescribe-section_stages-section {
    overflow: scroll;
    height: 100%;
    margin-top: 0;
  }
  .stages-section_stage-card {
    min-width: 100%;
  }
  .image-countainer_image {
    margin-left: 20%;
  }
  .text-container_header-stage {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .text-cotainer_text {
    font-size: 16px;
  }
  .main_benefits-section {
    padding: 50px 25px;
    height: auto;
  }

  .benefits-section_describe-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1600px;
  }

  .describe-cards_benefit-card {
    width: 100%;
    height: 25%;
    margin-bottom: 20px;
  }
  .benefit-card_header {
    font-size: 17px;
  }
  .benefit-card_text {
    font-size: 14px;
  }
  .benefit-card_image {
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
  }

  .main_review-section {
    display: none;
  }
  .main_articles-section {
    display: none;
  }
  .main_news-section {
    display: none;
  }
  .city-section_table > section > a,
  .city-section_table > section > a:visited,
  .district-section_table > section > a,
  .district-section_table > section > a:visited,
  .subway-section_table > section > a,
  .subway-section_table > section > a:visited {
    font-size: 13px;
    color: black;
    text-decoration: none;
    width: 25%;
  }

  .main_prefooter-section {
    height: auto;
    padding: 20px 10px;
  }
  .subway-section_table,
  .city-section_table,
  .district-section_table {
    margin-top: 5px;
    flex-direction: column;
  }
  .subway-section_table > section,
  .city-section_table > section,
  .district-section_table > section {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .subway-section_table > section > a,
  .city-section_table > section > a,
  .district-section_table > section > a {
    width: 100%;
    margin-bottom: 5px;
  }

  .district-section_table > section:nth-child(2),
  .district-section_table > section:nth-child(3),
  .district-section_table > section:nth-child(4),
  .subway-section_table > section:nth-child(2),
  .subway-section_table > section:nth-child(3),
  .subway-section_table > section:nth-child(4) {
    display: none;
  }

  .footer {
    display: flex;
    flex-direction: column;
    padding: 36px 20px 17px 20px;
    background-color: #f2f2f2;
  }
}

.rent-section_subsection {
  width: 100%;
  background-color: #fff;
  color: black;
  position: absolute;
  top: 70px;
  left: 0;
  display: none;
  justify-content: space-around;
}
.rent-section_subsection > label {
  padding: 10px 5px;
  cursor: pointer;
  font-size: 12px;
}
.rent-section_subsection > label:hover {
  color: #e82431;
}
.section {
  position: static;
}

.section:hover > .rent-section_subsection {
  display: flex;
}

input[name="navigationSubsection"]:checked + label {
  border-bottom: #e82431 2px solid;
}
input[name="navigationSubsectionSell"]:checked + label {
  border-bottom: #e82431 2px solid;
}
