/* Стили для мини-формы заявки-----------------------------------------------  */
.main_applicationForm-section {
    height: fit-content;
    padding: 50px 100px 50px 100px;
}

.applicationForm {
    position: relative;
    display: flex;
    padding: 40px;
    height: fit-content;
    background-color: #fff;
    border-radius: 16px;
    justify-content: space-between;
}

.applicationForm_boorkmark {
    position: absolute;
    top: 0px;
    left: 0px;
    border-top: 40px solid transparent ;
    border-right: 40px solid #1C2443 ;
    border-radius: 0px 0px 16px 0px;
    background-color: #f2f2f2;
}

.applicationForm_advertismentInfo-section {
    display: flex;
    flex-direction:column ;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.advertismentInfo-section_header {
    color: #323955;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 14px;
}

.advertismentInfo-section_subheader {
    color: #323955;
    font-weight: 400;
    font-size: 16px;
}
.applicationForm_applyInfo-section {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.applyInfo-section_requiredActions-section {
    display: flex;
    width: 100%;
    height: fit-content;
}

.requiredActions-section_telephone-input {
    display: flex;
    height: 50px;
    width: 50%
}
.telephone-input_preNumber {
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 0px 0px 8px;
    font-size: 22px;
    width: 25%;
    height: 100%;
}

.telephone-input_number {
    outline: none;
    border: none;
    background-color: #f2f2f2;
    margin-left: 0px;
    padding: 0;
    padding-left: 10px;
    font-size: 20px;
    width: 70%;
    height: 100%;
    border-radius: 0px 8px 8px 0px;
    margin-right: 15%;
}

.requredActions-section_apply-button {
    width: 45%;
    height: 100%;
    background-color: #e82431;
    color: white;
    outline:none;
    border: none;
    border-radius: 8px ;
    font-size: 22px;
    font-weight: normal;
    cursor: pointer;
}

.requredActions-section_apply-button:active {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

.applyInfo-section_personalAgree-checkbox {
    display: none;
}
.applyInfo-section_personalAgree-checkbox + label::before {
    content: "";
    display: inline-block;
    position: relative;
    top: 5px;
    width: 20px;
    height: 20px;
    border: 1px solid #adb5bd;
    border-radius: 5px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  
  .applyInfo-section_personalAgree-checkbox:checked + label::before {
    border-color: #1c2443;
    background-color: #1c2443;
    background-image: url("../../img/main/checkmark.svg");
  }

  .personalAgree-label > a,   .personalAgree-label > a:visited{
      text-decoration: none;
      color: #429EEB;
  }

  .personalAgree-label > a:hover, .personalAgree-label > a:active {
    color: #e82431;
}

  .personalAgree-label {
      margin-top: 15px;
      font-size: 14px;
  }
/* ----------------------------------------------- Конец стилей для мини-формы заявки */