<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Безриелтора.ру - сайт объявлений от собственников недвижимости
    </title>
    <link rel="stylesheet" href="../app/css/common/header.css" />
    <link rel="stylesheet" href="../app/css/common/footer.css" />
    <link rel="stylesheet" href="../app/css/common/applicationForm.css" />
    <link rel="stylesheet" href="../app/css/page-styles/catalog.css" />
  </head>
  <body>
    <div class="layer hide"></div>
    <div class="header">
      <div class="header_header-top">
        <div class="header-top_navigation">
          <div class="navigation_logo-section section">
            <div class="logo-section_image">
              <a href="../index.html">
                <img src="../app/img/tarif/header-logo_house.svg" alt=":("
              /></a>
            </div>
            <div class="logo-section_choseCity-section">
              <img
                src="../app/img/tarif/header-logo_label.svg"
                alt=":("
                class="logo-section_logo-label"
              />
              <div class="choseCity-select">
                <select name="chosenCity" id="chosenCity">
                  <option value="10" selected>Иркутск</option>
                  <option value="1">Москва</option>
                  <option value="2">Санкт-Петербург</option>
                  <option value="3">Казань</option>
                  <option value="4">Екатеринбург</option>
                  <option value="5">Новосибирск</option>
                  <option value="6">Самара</option>
                  <option value="7">Нижний Новгород</option>
                  <option value="8">Челябинск</option>
                  <option value="9">Омск</option>
                  <option value="11">Сочи</option>
                  <option value="12">Улан-Удэ</option>
                  <option value="13">Ростов-на-Дону</option>
                  <option value="14">Воронеж</option>
                  <option value="15">Волгоград</option>
                  <option value="16">Томск</option>
                  <option value="17">Пермь</option>
                  <option value="18">Саратов</option>
                </select>
                <div class="arrow"></div>
              </div>
            </div>
          </div>
          <div class="navigation_rent-section section">
            <a href="./catalogRent.html">АРЕНДА НЕДВИЖИМОСТИ</a>
          </div>
          <div class="navigation_sell-section section">
            <a href="./catalogSell.html"> ПРОДАЖА НЕДВИЖИМОСТИ</a>
          </div>
        </div>
        <div class="header-top_data-section">
          <form action="POST">
            <button class="data-section_apply-button">
              <img
                src="../app/img/tarif/header_add-advertisment.svg"
                alt=":("
                class="apply-button_plus"
              />
              <span>Добавить объявление</span>
            </button>
          </form>
          <div class="data-section_credentials-section">
            <img
              src="../app/img/tarif/header_login-image.svg"
              class="credentials-section_image"
            />
            <div class="credentials-section_login-window">Вход/Регистрация</div>
          </div>
        </div>
        <div class="header-top_burger-menu-mobile">
          <img
            src="../app/img/tarif/header_burger.svg"
            alt=":("
            id="burgerMenu"
          />
        </div>
        <div class="header-top_menu-mobile hide">
          <div class="menu-mobile_main-section">
            <form action="POST">
              <button class="menu-mobile_apply-button">
                <img
                  src="../app/img/tarif/header_add-advertisment.svg"
                  alt=":("
                  class="apply-button_plus"
                />
                <span>Добавить объявление</span>
              </button>
            </form>
            <form action="POST">
              <button class="menu-mobile_login-button">
                <img
                  src="../app/img/tarif/login_image-red.svg"
                  alt=":("
                  class="apply-button_plus"
                />
                <span>Вход/Регистрация</span>
              </button>
            </form>
            <a href="#" class="navigation_link">Аренда недвижимости</a>
            <a href="#" class="navigation_link">Продажа недвижимости</a>
          </div>
          <div class="menu-mobile_sub-section">
            <a href="" class="navigation_link">Новости</a>
            <a href="" class="navigation_link">О нас</a>
            <a href="" class="navigation_link">Тарифы</a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer_support-section">
        <div class="support-section_logo-section">
          <img src="./app/img/tarif/header-logo_house.svg" alt=":(" />
          <img src="./app/img/tarif/header-logo_label.svg" alt=":(" />
        </div>
        <div class="support-section_navigation">
          <a href="#" class="navigation_link">Контакты и поддержка</a>
          <a href="#" class="navigation_link">Реклама на сайте</a>
          <a href="#" class="navigation_link">Тарифы</a>
          <a href="#" class="navigation_link">О проекте</a>
        </div>
      </div>
      <div class="footer_eastate-section">
        <a href="" class="navigation_link">Квартиры</a>
        <a href="" class="navigation_link">Комнаты</a>
        <a href="" class="navigation_link">Дома, коттеджи, дачи</a>
        <a href="" class="navigation_link">Коммерческая недвижимость</a>
        <a href="" class="navigation_link">Земельные участки</a>
        <a href="" class="navigation_link">Гаражи</a>
      </div>
      <div class="footer_about-company">
        <div class="about-company_company">
          БезРиелтора - это сервис для поиска, аренды, покупки, сдачи, продажи
          недвижимости без посредников в Москве, Санкт-Петербурге, Иркутске и
          других городах России. На БезРиелтора.ру Вы можете снять или купить
          жильё от собственника не выходя из дома. Все проверенные объявления от
          хозяев и без комиссии на одном сайте.
        </div>
        <div class="about-company_company-mobile">
          БезРиелтора - это сервис для поиска, аренды, покупки, сдачи, продажи
          недвижимости без посредников.
        </div>
        <div class="about-company_law-info">
          ООО Наш Дом<br />
          ИНН 3812525600<br />
          ОГРН 1183850036468<br />
        </div>
        <div class="about-company_social-section">
          <div class="social-section_networks">
            <a href="#" class="navigation_link"
              ><img
                src="./app/img/tarif/footer_instagram.svg"
                alt=":("
                class="networks_network-logo"
            /></a>
            <a href="#" class="navigation_link"
              ><img
                src="./app/img/tarif/footer_vk.svg"
                alt=":("
                class="networks_network-logo"
            /></a>
            <a href="#" class="navigation_link"
              ><img
                src="./app/img/tarif/footer_telegram.svg"
                alt=":("
                class="networks_network-logo"
            /></a>
          </div>
          <div class="social-section_email">
            E-mail:
            <a href="mailto:hello@bezrealtora.ru" class="faq_link"
              >hello@bezrealtora.ru</a
            >
          </div>
        </div>
      </div>
      <div class="footer_licence-section">
        <span class="licence-section_text"
          >© «БезРиелтора» 2020 г. Все права защищены. Сайт не является
          публичной офертой.
          <a href="#" class="licence_link">Пользовательское соглашение</a>
          <a href="#" class="licence_link">Политика конфиденциальности</a
          >.</span
        >
        <span class="licence-section_text">Разработка – TOPSITE.STUDIO</span>
      </div>
    </div>
  </body>
</html>
