<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Быстрая заявка на подбор</title>
    <link rel="stylesheet" href="../css/common/applicationForm.css">
</head>
<body>
    <div class="main">
        <div class="main_applicationForm-section">
              <div class="applicationForm">
                <div class="applicationForm_boorkmark"></div>
              <div class="applicationForm_advertismentInfo-section">
                <span class="advertismentInfo-section_header">Не нашли, что искали?</span>
                <span class="advertismentInfo-section_subheader">Поможем найти квартиру от собственника по лучшей цене</span>
              </div>
              <form action="#" method="post" class="applicationForm_applyInfo-section">
                <div class="applyInfo-section_requiredActions-section">
                  <div class="requiredActions-section_telephone-input">
                    <div class="telephone-input_preNumber">+7</div>
                    <input type="text" class = "telephone-input_number">
                  </div>
                  <button class="requredActions-section_apply-button">Оставить заявку</button>
                </div>
                <input type="checkbox" name="agreeCheckbox" id="agreeCheckbox" class="applyInfo-section_personalAgree-checkbox">
                <label for="agreeCheckbox" class = "personalAgree-label">Я даю согласие на <a href="#">Обработку персональных данных</a></label>
              </form>
              </div>
              
            </div>
    </div>
</body>
</html>