<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prefooter</title>
    <link rel="stylesheet" href="../css/common/preFooterNavigation.css" />
  </head>
  <body>
    <div class="main">
      <div class="main_prefooter-section">
        <div class="prefooter-section_city-section">
          <div class="main_header-block">
            <span class="red-line"></span>
            <div class="main_section-block">
              <span class="main_section-header"
                >Аренда в крупнейших городах России</span
              >
            </div>
          </div>
          <div class="city-section_table">
            <section>
              <a href="#">Москва</a>
              <a href="#">Екатеринбург</a>
              <a href="#">Нижний Новгород</a>
              <a href="#">Сочи</a>
            </section>
            <section>
              <a href="#">Санкт-Петербург</a>
              <a href="#">Новосибирск</a>
              <a href="#">Челябинск</a>
              <a href="#">Улан-Удэ</a>
            </section>
            <section>
              <a href="#">Казань</a>
              <a href="#">Самара</a>
              <a href="#">Омск</a>
              <a href="#">Томск</a>
            </section>
            <section>
              <a href="#">Ростов-на-Дону</a>
              <a href="#">Воронеж</a>
              <a href="#">Волгоград</a>
            </section>
            <section>
              <a href="#">Пермь</a>
              <a href="#">Саратов</a>
              <a href="#">Иркутск</a>
            </section>
          </div>
        </div>
        <div class="prefooter-section_district-section">
          <div class="main_header-block">
            <span class="red-line"></span>
            <div class="main_section-block">
              <span class="main_section-header">Квартиры в районе</span>
            </div>
          </div>
          <div class="district-section_table">
            <section>
              <a href="#">130-й квартал</a>
              <a href="#">5168-й километр ВСЖД</a>
              <a href="#">Военный городок</a>
              <a href="#">Горка</a>
            </section>
            <section>
              <a href="#">Ершовский мкр</a>
              <a href="#">Жилой комплекс German House</a>
              <a href="#">Жилой комплекс Ангарские паруса</a>
              <a href="#">Жилой комплекс Веста</a>
            </section>
            <section>
              <a href="#">Жилой комплекс Виват</a>
              <a href="#">Жилой комплекс Дебют</a>
              <a href="#">Жилой комплекс Депутат</a>
              <a href="#">Жилой комплекс Иркутский дворик-2</a>
            </section>
            <section>
              <a href="#">Жилой комплекс Каскад</a>
              <a href="#">Жилой комплекс Лазурный</a>
              <a href="#">Жилой комплекс Нижняя Лисиха 1</a>
              <a href="#">Жилой комплекс Нижняя Лисиха 2</a>
            </section>
            <section>
              <a href="#">Жилой комплекс Нижняя Лисиха 3</a>
              <a href="#">Жилой комплекс Новый город 1</a>
              <a href="#">Жилой комплекс Новый город 1</a>
              <a href="#" style="text-decoration: underline">Показать еще</a>
            </section>
          </div>
        </div>
        <div class="prefooter-section_subway-section">
          <div class="main_header-block">
            <span class="red-line"></span>
            <div class="main_section-block">
              <span class="main_section-header">Квартиры у метро</span>
            </div>
          </div>
          <div class="subway-section_table">
            <section>
              <a href="#">Авиамоторная</a>
              <a href="#">Автозаводская</a>
              <a href="#">Автозаводская</a>
              <a href="#">Академическая</a>
            </section>
            <section>
              <a href="#">Александровский сад</a>
              <a href="#">Алексеевская</a>
              <a href="#">Алексеевская</a>
              <a href="#">Алма-Атинская</a>
            </section>
            <section>
              <a href="#">Алтуфьево</a>
              <a href="#">Андроновка</a>
              <a href="#">Аннино</a>
              <a href="#">Арбатская Новгород</a>
            </section>
            <section>
              <a href="#">Аэропорт</a>
              <a href="#">Бабушкинская</a>
              <a href="#">Багратионовская</a>
              <a href="#">Балтийская</a>
            </section>
            <section>
              <a href="#">Баррикадная</a>
              <a href="#">Бауманская</a>
              <a href="#">Беговая</a>
              <a href="#" style="text-decoration: underline">Показать еще</a>
            </section>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
