<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Карточка объявления</title>
    <link rel="stylesheet" href="../css/common/advertCard.css" />
  </head>
  <body>
    <div class="advertisments-section_advert-card">
      <div class="advert-card_panel-info-section">
        <div class="advert-card_info-section">
          <div class="info-section_avatar"></div>
          <span class="info-section_name">Александра Соколовская</span>
        </div>
      </div>
      <div class="advert-card_objPhotos-section">
        <img src="../img/main/main_rentAdvertisment-card.jpg" alt=":(" />
        <img src="../img/main/main_rentAdvertisment-card.jpg" alt=":(" />
        <img src="../img/main/main_rentAdvertisment-card.jpg" alt=":(" />
        <img src="../img/main/main_rentAdvertisment-card.jpg" alt=":(" />
        <img src="../img/main/main_rentAdvertisment-card.jpg" alt=":(" />
      </div>
      <div class="advert-card_infoCard-section">
        <div class="advert-card_panel-section">
          <div class="panel-section_section unfilledHeart"></div>
          <div class="panel-section_section counter">999</div>
          <div class="panel-section_section unfilledShare"></div>
        </div>
        <div class="advert-card_objInfo-section">
          <div class="objInfo-section_price-tag">
            <span class="price-tag_price">155 000 ₽</span>
            <span class="price-tag_per-month">/в месяц</span>
          </div>
          <div class="objInfo-section_flat-parameters">
            <span class="flat-parameters_roomAmount-span">4-комн.</span>
            -
            <span class="flat-parameters_flatArea-span">170 м²</span>
            -
            <span class="flat-parameters_flatAddress-span"
              >Франк-Каменецкого, 28/4</span
            >
          </div>
          <div class="objInfo-section_flat-description">
            Роскошная 4х комнатная квартира
          </div>
        </div>
        <div class="advert-card_objAddress-section">
          <img
            src="../img/main/main_map-checkmark.svg"
            class="objAddress-section_map-checkmark"
          />
          <span class="objAddress-section_address-span">Правобережный</span>
        </div>
      </div>
    </div>
  </body>
</html>
